<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="layout/layout :: head">
<meta charset="ISO-8859-1">
<title>Labour Information</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
		<header th:replace="layout/layout :: header"></header>
	<div align="center">
		<h1>Labour List</h1>
		
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Logout" />
		</form>
		
		<div>
		<a href="/neww">Add Labour</a>
		</div>
		
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>Labour ID</th>
					<th>Labour Name</th>
					<th>Labour Price</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="labour : ${listLabour}">
					<td th:text="${labour.id}">Labour ID</td>
					<td th:text="${labour.name}">Labour Name</td>
					<td th:text="${labour.price}">Labour Price</td>

					<td>
						<div >
							<a th:href="@{'/editt/' + ${labour.id}}">Edit</a>
						</div> &nbsp;&nbsp;&nbsp;
						<div>
							<a th:href="@{'/deletee/' + ${labour.id}}">Delete</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>